body {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.pizza-title{
    font-size: 28px;
} 
.burger-title{
    font-size: 28px;
} 
.lasagna-title{
    font-size: 28px;
}

.incredients{
    font-size: 28px;
    font-style: italic;
}

.incredients #list{
    color: blue;
}