body {
    background-color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h1{
    font-size: 64px;
  }
.recipes{
  font-family:'Courier New', Courier, monospace;
  font-size: 64px;
}